# Bundled dependencies
mydroidandi/commbase-stt-vosk-p
mydroidandi/libcommbase
alphacep/vosk-api
kmein/vu-meter

# Python dependencies
aiohttp
aiohttp-cors
aiosignal
async-timeout
attrs
certifi
cffi
cchardet
chardet
charset-normalizer
click
daal
daal4py
frozenlist
idna
joblib
markdown-it-py
mdurl
multidict
numpy
openai
opencv-python
pip
PyAudio
pycparser
Pygments
requests
rich
scikit-learn
scikit-learn-intelex
scipy
setuptools
sounddevice
srt
subprocess.run
tbb
threadpoolctl
tqdm
typer
typing_extensions
urllib3
vosk
websockets
yarl
