aiohttp
aiohttp-cors
aiosignal
appdirs
async-timeout
attrs
Bottleneck
brotlipy
cchardet
certifi
cffi
chardet
charset-normalizer
click
colorama
commonmark
contourpy
cryptography
cycler
daal4py
et-xmlfile
fonttools
frozenlist
future
idna
joblib
kiwisolver
matplotlib
mkl-fft
mkl-random
mkl-service
multidict
munkres
numexpr
numpy
openai
openpyxl
packaging
pandas
pandas-stubs
Pillow
plotly
pooch
PyAudio
pycparser
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
requests
rich
scikit-learn
scikit-learn-intelex
scipy
shellingham
six
sounddevice
srt
subprocess.run
tenacity
threadpoolctl
tqdm
typer
types-pytz
typing_extensions
urllib3
vosk
websockets
yarl
